.heading {
	font-size: 30px;
	font-weight: 700;
	position: relative;
	margin-bottom: 30px;
	color: var(--color_gray);
}

.seprator::before {
	height: 2px;
	content: "";
	width: 100px;
	height: 4px;
	background-color: var(--color_separator);
}
